<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="PORT" value="587" />
    <add key="EMAIL" value="william.c.199119@gmail.com" />
    <add key="PASS" value="W1ll1am199119" />
  </appSettings>
</configuration>